<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-sm-6 mx-auto my-auto text-center">
      <h3 class="my-5">
        Это тестовое задание для вакансии "Начинающий фулл-стек разработчик".
      </h3>
      <p class="my-4"><a href="https://github.com/youshaSilence/task-vk-friends">Репозиторий на Github</a></p>
      <div class="card border-info mx-auto" style="max-width: 20rem;">
        <div class="card-header">Авторизация ВКонтакте</div>
        <div class="card-body">
          <p class="card-text">
            При нажатии кнопки "Авторизоваться" будет выполнена OAuth авторизация в Вконтакте и
            получена доступная информация о пользователе, а также 5 рандомных друзей пользователя.
          </p>
          <button type="button" class="btn btn-info" (click)="oauthVk()">Авторизоваться</button>
        </div>
      </div>
    </div>
  </div>
</div>
